<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=\, initial-scale=1.0" />
        <title>Node Js Native Experimental</title>
        <link rel="stylesheet" href="./style.css" />

    <body>
        <header class="header-section">
            <div class="nav-logo">
                <div class="img-section">
                    <img src="" alt="" />
                </div>
            </div>
            <div class="nav-links">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Contact Us</a>
            </div>
        </header>

        <!-- main - section - start -->
        <main>
            <!-- section-1 start -->
            <div class="section-1">
                <!-- conatiner-section start -->
                <div class="container">
                    <!-- left-section start -->
                    <div class="left-section">
                        <h1>left section from 1st Section</h1>
                    </div>
                    <!-- left-section ending -->

                    <!-- right-section staring -->
                    <div class="right-section">
                        <h1>right section from 1st Section</h1>
                    </div>
                    <!-- right-section ending -->
                </div>
                <!-- container-section ending-->
            </div>
            <!-- section-1 ending -->

            <!-- section-2 start -->
            <div class="section-2">
                <h1>2nd Section</h1>
            </div>
            <!-- section-2 ending -->
        </main>

        <!-- footer-section start -->
        <footer>
            <p>
                Designed and Developed ny <span><a href="https://github.com/MuhammedAslamShahS/NodeJs-Server-Creation-Using-Native-WithOut-ExpressJs">Muhammed Aslam Shah S</a></span>
            </p>
        </footer>
        <!-- footer-section ending -->

        <!-- main-section-ending -->
    </head>
    </body>
</html>
