<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=\, initial-scale=1.0" />
        <title>Node Js Native Experimental</title>

        <header>
            <div class="nav-logo">
                <div class="img-section">
                    <img src="" alt="" />
                </div>
            </div>
            <div class="nav-links">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Contact Us</a>
            </div>
        </header>
    </head>
    <body></body>
</html>
